[submodule "pack/dist/start/vim-airline"]
	path = pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/git-plugins/start/vim-surround"]
	path = pack/git-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/git-plugins/start/ctrlp.vim"]
	path = pack/git-plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/git-plugins/start/vim-colors-solarized"]
	path = pack/git-plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/git-plugins/start/vimagit"]
	path = pack/git-plugins/start/vimagit
	url = https://github.com/jreybert/vimagit
[submodule "pack/git-plugins/start/vim-gitgutter"]
	path = pack/git-plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/git-plugins/start/vim-codefmt"]
	path = pack/git-plugins/start/vim-codefmt
	url = https://github.com/google/vim-codefmt
[submodule "pack/git-plugins/start/vim-maktaba"]
	path = pack/git-plugins/start/vim-maktaba
	url = https://github.com/google/vim-maktaba
[submodule "pack/git-plugins/start/vim-glaive"]
	path = pack/git-plugins/start/vim-glaive
	url = https://github.com/google/vim-glaive
