[submodule "pack/dist/start/vim-airline"]
	path = pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/git-plugins/start/vim-surround"]
	path = pack/git-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/git-plugins/start/ctrlp.vim"]
	path = pack/git-plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/git-plugins/start/vim-colors-solarized"]
	path = pack/git-plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/git-plugins/start/vimagit"]
	path = pack/git-plugins/start/vimagit
	url = https://github.com/jreybert/vimagit
[submodule "pack/git-plugins/start/vim-gitgutter"]
	path = pack/git-plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/git-plugins/start/vim-maktaba"]
	path = pack/git-plugins/start/vim-maktaba
	url = https://github.com/google/vim-maktaba
[submodule "pack/git-plugins/start/vim-glaive"]
	path = pack/git-plugins/start/vim-glaive
	url = https://github.com/google/vim-glaive
[submodule "pack/git-plugins/start/yats.vim"]
	path = pack/git-plugins/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim
[submodule "pack/git-plugins/start/yajs.vim"]
	path = pack/git-plugins/start/yajs.vim
	url = https://github.com/othree/yajs.vim
[submodule "pack/git-plugins/start/nerdtree"]
	path = pack/git-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/git-plugins/start/nerdtree-git-plugin"]
	path = pack/git-plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pack/git-plugins/start/vim-autoformat"]
	path = pack/git-plugins/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "pack/git-plugins/start/rust.vim"]
	path = pack/git-plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/git-plugins/start/vim-pico8-syntax"]
	path = pack/git-plugins/start/vim-pico8-syntax
	url = https://github.com/justinj/vim-pico8-syntax
[submodule "pack/git-plugins/start/vim-acme"]
	path = pack/git-plugins/start/vim-acme
	url = https://github.com/leissa/vim-acme
